# Config file for automatic testing at travis-ci.org
# This file will be regenerated if you run travis_pypi_setup.py

language: python
python:
  - "2.7"

env:
  - TOXENV=slp27travis
  - TOXENV=pypy
  - TOXENV=pypy3

before_install:
  - if [ \"$TOX_ENV\" == \"27slptravis\" ]; then wget http://www.robg3d.com/downloads/stackless-2.7.6_amd64.zip; fi
  - if [ \"$TOX_ENV\" == \"27slptravis\" ]; then unzip -q stackless-2.7.6_amd64.zip -d $HOME; fi

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - "pip install tox --download-cache $HOME/.pip-cache"
  - "pip install coveralls --download-cache $HOME/.pip-cache"

# command to run tests, e.g. python setup.py test
script:
  - tox -e $TOXENV

after_success:
  - coveralls

cache:
  directories:
    - .tox
    - $HOME/.pip-cache/

# After you create the Github repo and add it to Travis, run the
# travis_pypi_setup.py script to finish PyPI deployment setup
; deploy:
;  provider: pypi
;   distributions: sdist bdist_wheel
;   user: benzid-wael
;   password:
;     secure: PLEASE_REPLACE_ME
;   on:
;     tags: true
;     repo: benzid-wael/octopus
;     condition: $TOXENV == py27
